.footer{
    padding-top: 50px;
    color: #666;
    background-color: #000;
    text-align: left;
}

.footer > h4 {
    margin-left: 38px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 1rem;
}

.footer__nav{
    font-weight: 300;
    color: #888;
    font-size: 0.8rem;
}

.footer__nav > ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;

}

.footer__nav > li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;

}

.lastFooterMessage{
    color: #777;
    padding: 40px 0 10px 0;
    background-color: #000;
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
}

.lastFooterMessage > a{
    color: #0071eb;
    text-decoration: none;
}


/* IPAD */
@media only screen and (min-width: 550px) {

    .footer__nav > ul{
        grid-template-columns: repeat(3, 1fr);
    
    }

}


/* GENERIC LAPTOP */
@media only screen and (min-width: 1280px) {

    .footer{
        padding: 50px 200px;
    }


    .footer__nav > ul{
        grid-template-columns: repeat(4, 1fr);
    
    }
}


/* FULL HD */
@media only screen and (min-width: 1920px) {

    .footer{
        padding: 50px 500px;
    }
    
}